<div class="mypage_content">
<div class="mypage_bg1">
  <div class="mypage_conlist">


    <div class="mypage_list" style="height: auto;">
    <p class="mypage_topimg"><img src="/assets/web/topimg.png"></p>
    <div class="mypage2_listbg">
    <p class="mypage2_ti"><img src="/assets/web/mypage_title.gif"></p>
    <input name="_method" type="hidden" value="put" />
    <div class="qtable2">
      <div id="change-pwd">
        <table>
          <thead></thead>
          <tbody>
          <tr>
            <td style="padding-right: 10px;">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</td>
            <td><input type="password" name="password" /></td>
          </tr>
          <tr>
            <td style="padding-right: 10px;">密码确认:</td>
            <td><input type="password" name="password_confirmation" />
              <input type="hidden" name="email" value="<%= params[:email] %>" />
              <input type="hidden" name="token" value="<%= params[:token] %>" /></td>
          </tr>
          </tbody>
        </table>

        <button id="change_pwd_btn">修改密码</button>
      </div>
    </div>


    </div>
    <p><img src="/assets/web/botimg.png"></p>
    </div>

</div>
  <div class="mypage_bg2" style="padding-bottom: 270px;">
  </div>
</div>
</div>

<script type="text/javascript">
  $(function (){
      $('#change_pwd_btn').click(function (){
          var cp = $('#change-pwd');
          var pwd1 = $.trim(cp.find('input[name="password"]').val()),
              pwd2 = $.trim(cp.find('input[name="password_confirmation"]').val());

          if (pwd1 === ''){
              alert('密码不能为空!');
              return false;
          } else if (pwd1 !== pwd2) {
              alert('两次输入的密码不一致!');
              return false;
          }

          $.ajax({
              type: 'post',
              url:  '/users/reset_pwd_sure',
              data: {
                  email: cp.find('input[name="email"]').val(),
                  token: cp.find('input[name="token"]').val(),
                  password: pwd1,
                  password_confirmation: pwd2
              },
              async: false,
              dataType: 'json',
              success: function(data){
                  if(data.msg === 'ok'){
                      alert('修改密码成功!');
                      location.href = '/';
                  } else if (data.msg === 'error') {
                      alert('修改密码出错!请重新输入');
                      return false;
                  }
              }
          });

      });
  });
</script>
