<div class="activity_bg">
  <div class="content">
    <div class="widget_list">
      <div id="widget_box">
        <p class="mypage_topimg"><img src="/assets/web/widget/box_topti.gif" /></p>
        <div class="widget_boxbg">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="6%"><input type="checkbox" name="checkbox" id="checkbox" />
                <label for="checkbox"></label></td>
              <td width="94%">格力高公司网站</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="checkbox2" id="checkbox2" />
                <label for="checkbox2"></label></td>
              <td> 其他网站／论坛／博客等</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="checkbox3" id="checkbox3" />
                <label for="checkbox3"></label></td>
              <td>格力高会员邮件／短信<br /></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="checkbox3" id="checkbox4" />
                <label for="checkbox4"></label></td>
              <td> 百奇产品包装</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="checkbox3" id="checkbox5" />
                <label for="checkbox5"></label></td>
              <td> 亲人或朋友介绍</td>
            </tr>
            <tr>
              <td><input type="checkbox" name="checkbox3" id="checkbox6" />
                <label for="checkbox6"></label></td>
              <td> 其他</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td style="padding-left:8px;"><img src="/assets/web/widget/box_img.gif" /><a href="/flv/百奇小精灵.air"><img src="/assets/web/widget/box_icon.gif" /></a></td>
            </tr>
          </table>
        </div>
        <p class="mypage_topimg"><img src="/assets/web/widget/boxbot.gif" /></p>
      </div>
      <p><img src="/assets/web/widget/topimg.jpg" /></p>
      <div class="widget_con">
        <div class="widget_c1">
          <div class="widget_c1left">
            <p><img src="/assets/web/widget/icon1.gif" width="87" height="39" /></p>
            <p>1.本软件设定为在<span>每次电脑启动时会自动启动</span>。该设定有可能会使部分电脑安全软件显示为<br />
              <span>“本软件有可能含有病毒”</span>，但如果如右图所示的内容的话，并无问题，<span>请放心下载。</span></p>
            <p>2.根据电脑的版本，操作环境，<span>本软件有可能会无法正常运行，敬请谅解。</span></p>
          </div>
          <p class="widget_c1right"><img src="/assets/web/widget/tp1.jpg" /></p>
        </div>
        <div class="widget_c2">
          <p><img src="/assets/web/widget/icon2.gif" /></p>
          <div class="widget_c2text">
            <p>1.点击“立即下载”后出现一下界面，<br />
              点击安装按钮确认安装。</p>
            <p>2.开始安装AdobeAIR软件。</p>
          </div>
          <div class="clear"><img src="/assets/web/widget/tp2.jpg" /></div>
          <div class="widget_c2text">
            <p style="padding-right:68px;">3.AdobeAIR软件安装成功后点击安装<br />
              按钮确认安装“百奇小精灵”。</p>
            <p style="padding-right:103px;">4.选择需要安装到的文件目录。</p>
            <p>5.开始安装“百奇小精灵”。</p>
          </div>
          <div class="clear"><img src="/assets/web/widget/tp3.jpg" /></div>
          <div class="widget_c3">
            <p><img src="/assets/web/widget/icon3.gif" /></p>
            <div class="widget_c3bg">
              <ul>
                <li>1.桌面上会出现“百奇小精灵”的快捷方式。<br />
                  双击启动“百奇小精灵”。</li>
                <li style="padding-right:83px;">2.给你的百奇起个名字。</li>
                <li>3.领养成功！请多多照顾它！</li>
              </ul>
            </div>
          </div>
          <div class="widget_c4">
            <p><img src="/assets/web/widget/icon4.gif" /></p>
            <p><img src="/assets/web/widget/tp5.jpg" /><img src="/assets/web/widget/tp6.jpg" /></p>
          </div>
        </div>
      </div>
    </div>
    <div><img src="/assets/web/widget/botimg.jpg" /></div>
  </div>
</div>