<div class="footer_bg">
  <div class="footer">
    <ul>
      <li style=" width:306px; float:left;"><span>产品信息</span>
        <p class="clear"></p>
        <div style="float:left; width:306px;">
          <p style="float:left; width:110px;">
            <a href="/pocky/index.html">百奇</a><br />
            <a href="/moussepocky/index.html">慕思百奇</a><br />
            <a href="/lilipocky/index.html">粒粒百奇</a><br />
            <a href="/crushpocky/index.html">扁桃仁脆百奇</a><br />
            <a href="/pretz/index.html">百力滋</a><br />
            <a href="/doublepretz/index.html">双层百力滋</a> <br/>
            <a href="/pejoy/index.html">百醇</a> </p>
          <p style="float:left; width:86px;"><a href="/caiyuan1/index.html">菜园小饼</a><br />
            <a href="/cake/index.html">巧心柔</a><br />
            <a href="/cookie/index.html">巧酥酥</a><br />
            <a href="/shortbread/index.html">小布蕾</a><br />
            <a href="/mousa/index.html">慕纱</a> <br />
            <a href="/caplico/index.html">泡丽可</a> </p>
          <p style="float:left;"><a href="/kittyland/index.html">奇蒂</a><br />
            <a href="/minikitty/index.html">奇蒂森林奇遇</a><br />
            <a href="/collon/index.html">可珑</a><br />
            <a href="/sinky/index.html">星奇</a><br />
            <a href="/gugu.html">鼓鼓小超人</a> <br />
            <a href="/family/index.html">亲子分享系列</a> </p>
        </div>
      </li>
      <li><span>广告与活动</span>
        <p class="clear"></p>
        <p><a href="/activity">广告与活动</a>
      </li>
      <li><span>乐趣中心</span>
        <p class="clear"></p>
        <p><a href="/widget/login">百奇小精灵</a><br />
          <a href="/game/download.html">下载中心</a><br />
          <a href="/game/game_lobby.html">游戏大厅</a><br />
          <a href="/game/game.html">儿童游戏馆</a></p>
      </li>
      <li><span>招聘信息</span>
        <p class="clear"></p>
        <p>
          <a href="/jobs/job.html">招聘岗位</a><br />
          <a href="/jobs/mvp.html">格力高员工演讲</a><br />
          <a href="/jobs/zenjin.html">员工介绍</a><br />
          <a href="/jobs/jinsai.html">人才培养</a><br />
          <a href="/jobs/qa.html">Q&amp;A</a></p>
      </li>
      <li><span>关于格力高</span>
        <p class="clear"></p>
        <p><a href="/company/index.html">格力高概要</a><br />
          <a href="/company/index.html#link3">理念</a><br />
          <a href="/company/index.html#link4">事业</a><br />
          <a href="/company/history.html">历史</a><br />
          <a href="/company/security.html">安全安心</a></p>
      </li>
    </ul>
  </div>
</div>
<div class="copyright_bg">
  <div class="copyright">
    <div style="float: left;">
      <span style="display: block;">上海江崎格力高食品有限公司 版权所有 <a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备05016808号</a></span>
      <span>SHANGHAI EZAKI GLICO FOODS CO.,LTD.  Copyright © 2009 All rights reserved.</span>
    </div>
    <div style="float: right;margin-right: 208px;">
      <a href='http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120229092829192'><img src='/assets/web/icon.gif' border=0></a>
    </div>
  </div>
</div>
