<div class="signup_bg">
  <div class="content">
    <p class="mypage_topimg"><img src="/assets/web/signup/topimg1.jpg"><img src="/assets/web/signup/topimg2.jpg"><img src="/assets/web/signup/topimg3.gif"></p>
    <div class="signup_content">
      <p class="mypage_topimg"><img src="/assets/web/signup/title2.gif"></p>
      <div class="inf">
        <div class="signup_list">
          <h3>会员注册还没有完成!!!</h3><br>
          <p>我们已把‘确认邮件’发送到您注册的邮箱里了</p>
          <p>请激活邮件里的网址，完成注册。</p>
          <p>（如果未收到邮件，请查看‘垃圾邮箱’里，邮件可能在那里）</p>
          <br>
          <p><a href="javascript:;" class="member_logined">进入登录画面</a></p>
          <p><a href="/">进入格力高公司网站</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="signup_botimg"><img src="/assets/web/signup/botimg.jpg"></div>
</div>
