<script type="text/javascript">
  $(function() {
      smartRollover('.activity_topbg img');
  });
</script>

<div class="activity_banner">
  <div class="activity_topbg">
    <p>
    <a target="_blank" href="http://pretz.glico.com.cn/"><img src="/assets/web/activity_img1_off.jpg"></a>
    </p>
    <p><a href="/presentation"><img src="/assets/web/activity_img2_off.jpg"></a></p>
  </div>
</div>
<div class="activity_bg">
  <div class="activity_content">
    <div class="activity_left">
      <p><img src="/assets/web/activity_lti.jpg" /></p>
      <div class="activity_cbg">
        <div class="activity_c1bg">
          <p class="activity_c1img"><a id="first_activity_a" href="/flv/30s_add_sp.flv"><img src="/assets/web/activity_img1.jpg" /><span id="cm_hover"><img src="/assets/lib/arrow.png"/ ></span></a></p>
          <div class="activity_c1right" style="position:relative">
            <p class="activity_ti"><img src="/assets/web/activity_title.gif" /></p>
            <p class="activity_c1rtext">陈柏霖<br />
              大家分享篇<br />
              ~根根乐分享，当然是朋友！PRETZ~</p>
              <p class="video_icon" id="first_activity"><a href="/flv/30s_add_sp.flv"><img src="/assets/web/video_icon1.gif" alt="视频" /></a></p>
          </div>
        </div>
        <p class="activity_title"><img src="/assets/web/activity_ti1.gif" /></p>
        <ul class="activity_series">
          <li style="padding-right:18px;">
            <p class="activity_Limg"><a href="/flv/1_2.pocky2012.flv"><img src="/assets/web/activity_img2.jpg" /></a></p>
            <div class="activity_Rtext">
              <p class="activity_Rtextlig">2012<br />
                唐嫣<br />
                自拍篇</p>
              <p class="video_icon2"><a href="/flv/1_2.pocky2012.flv"><img src="/assets/web/video_icon2.gif" alt="视频" /></a></p>
            </div>
            <p class="hover"><img src="/assets/lib/arrow.png" alt="&gt;" /></p>
          </li>
          <li>
            <p class="activity_Limg"><a href="/flv/3.pocky2011.flv"><img src="/assets/web/activity_img3.jpg" height="120" /></a></p>
            <div class="activity_Rtext">
              <p class="activity_Rtextlig">2011<br />
                唐嫣<br />
                清纯偶像唐嫣代言</p>
              <p class="video_icon2"><a href="/flv/3.pocky2011.flv"><img src="/assets/web/video_icon2.gif" alt="视频" /></a></p>
            </div>
            <p class="hover"><img src="/assets/lib/arrow.png" alt="&gt;" /></p>
          </li>
        </ul>


        <p class="activity_title"><img src="/assets/web/activity_ti2.gif" /></p>
        <ul class="activity_series">
          <li style="padding-right:18px; position:relative;" id="except_li"><div id="activity_icon"><img src="/assets/web/new_icon.png" /></div>
            <p class="activity_Limg"><a id="first_activity_c" href="/flv/30s_add_sp.flv"><img src="/assets/web/activity_img4.jpg" /></a></p>
            <div class="activity_Rtext">
              <p class="activity_Rtextlig">2013<br />
                陈柏霖<br />
                大家分享篇</p>
              <p class="video_icon2"><a id="first_activity_c" href="/flv/30s_add_sp.flv"><img src="/assets/web/video_icon2.gif" alt="视频" /></a></p>
              <p class="hover"><img src="/assets/lib/arrow.png" alt="&gt;" /></p>
            </div>
          </li>
        </ul>
        <p class="activity_title"><img src="/assets/web/activity_ti4.gif" /></p>
        <ul class="activity_series">
          <li>
            <p class="activity_Limg"><a href="/flv/7.chocolate_cm.flv"><img src="/assets/web/activity_img7.jpg" /></a></p>
            <div class="activity_Rtext">
              <p class="activity_Rtextlig">2012<br />
                林心如<br />
                午茶约会篇</p>
              <p class="video_icon2"><a href="/flv/7.chocolate_cm.flv"><img src="/assets/web/video_icon2.gif" alt="视频" /></a></p>
              <p class="hover"><img src="/assets/lib/arrow.png" alt="&gt;" /></p>
            </div>
          </li>
          <li style="padding-right:18px;">
            <p class="activity_Limg"><a href="/flv/6.q_cake.flv"><img src="/assets/web/activity_img6.jpg" /></a></p>
            <div class="activity_Rtext">
              <p class="activity_Rtextlig">2010<br />
                林心如<br />
                到我手里来篇</p>
              <p class="video_icon2"><a href="/flv/6.q_cake.flv"><img src="/assets/web/video_icon2.gif" alt="视频" /></a></p>
              <p class="hover"><img src="/assets/lib/arrow.png" alt="&gt;" /></p>
            </div>
          </li>
        </ul>
        <p class="activity_title"><img src="/assets/web/activity_ti5.gif" /></p>
        <ul class="activity_series">
          <li style="padding-right:18px;">
            <p class="activity_Limg"><a href="/flv/8.kittyland.flv"><img src="/assets/web/activity_img8.jpg" /></a></p>
            <div class="activity_Rtext">
              <p class="activity_Rtextlig">奇蒂<br />
                小白兔篇／小松鼠篇<br />
                刺猬篇／帅狗篇</p>
              <p class="video_icon2"><a href="/flv/8.kittyland.flv"><img src="/assets/web/video_icon2.gif" alt="视频" /></a></p>
              <p class="hover"><img src="/assets/lib/arrow.png" alt="&gt;" /></p>
            </div>
          </li>
          <li>
            <p class="activity_Limg"><a href="/flv/9.sinky.flv"><img src="/assets/web/activity_img9.jpg" /></a></p>
            <div class="activity_Rtext">
              <p class="activity_Rtextlig">星奇<br />
                出发去宇宙篇<br />
                宇宙浮游篇</p>
              <p class="video_icon2"><a href="/flv/9.sinky.flv"><img src="/assets/web/video_icon2.gif" alt="视频" /></a></p>
              <p class="hover"><img src="/assets/lib/arrow.png" alt="&gt;" /></p>
            </div>
          </li>
          <li style="margin-top:13px;margin-right:18px;">
            <p class="activity_Limg"><a href="/flv/10.glico-collon.flv"><img src="/assets/web/activity_img10.jpg" /></a></p>
            <div class="activity_Rtext">
              <p class="activity_Rtextlig">可珑<br />
                发射大炮篇<br />
                跳伞篇<br />
              </p>
              <p class="video_icon2"><a href="/flv/10.glico-collon.flv"><img src="/assets/web/video_icon2.gif" alt="视频" /></a></p>
              <p class="hover"><img src="/assets/lib/arrow.png" alt="&gt;" /></p>
            </div>
          </li>
          <li style="margin-top:13px;">
            <p class="activity_Limg"><a href="/flv/11.finebaker.flv"><img src="/assets/web/activity_img11.jpg" /></a></p>
            <div class="activity_Rtext">
              <p class="activity_Rtextlig" style="font-size:10px;">弗朗大叔<br />
                小公主的眼泪篇<br />
                去美容院篇／隐藏高手篇<br />
                小超人对小怪兽篇<br />
                抓小偷篇／鬼来了篇</p>
              <p class="video_icon2"><a href="/flv/11.finebaker.flv"><img src="/assets/web/video_icon2.gif" alt="视频" /></a></p>
              <p class="hover"><img src="/assets/lib/arrow.png" alt="&gt;" /></p>
            </div>
          </li>
        </ul>

      </div>
      <p><img src="/assets/web/activity_botimg.gif" /></p>
    </div>
    <div class="activity_right"><p><img src="/assets/web/activity_rti.gif" /></p>
      <div class="activity_cRbg">
        <p><a href="/presentation"><img src="/assets/web/activity_rimg.jpg" /></a></p>
        <p class="activity_rtitle"><img src="/assets/web/activity_rti1.gif" /></p>
        <p class="activity_rfont">格力高会员独享！百力滋尝鲜新品大赠送！<br />
          全国100名格力高会员，将有机会获得百力滋，<br />
          双层百力滋全套免费大礼包！<br />
          截止日期：2013年4月30日。</p>
        <p class="activity_bar1"><a href="<%= signup_path %>"><img src="/assets/web/activity_rimg1.jpg" /></a></p>
        <p><img src="/assets/web/activity_rline.gif" /></p>
        <p><a href="/wenju.html" ><img src="/assets/web/activity_rimg5.jpg" /></a></p>
        <p class="activity_rtitle"><img src="/assets/web/activity_rti21.gif" /></p>
        <p class="activity_rfont">购买格力高亲子分享系列各款产品可相应<br />
          获赠一款小文具！！（每种文具共2款）</p>
        <p><img src="/assets/web/activity_rline.gif" /></p>
        <p>
        <a href="http://pretz.glico.com.cn/" target="_blank"><img src="/assets/web/activity_rimg4.jpg" /></a></p>
        <p class="activity_rtitle"><img src="/assets/web/activity_rti2.gif" /></p>
        <p class="activity_rfont">百力滋，玩过‘影’！<br />
          打造你的专属MV，既有机会赢取iPad mini！</p>

        <p><img src="/assets/web/activity_rline.gif" /></p>
        <p><a href="http://e.weibo.com/glicoqiao?ref=http%3A%2F%2Fweibo.com%2F2217004644%2Fmyfollow%3Ft%3D1%26ignoreg%3D1" target="_blank"><img src="/assets/web/activity_rimg2.jpg" /></a></p>
        <p class="activity_rtitle"><img src="/assets/web/activity_rti3.gif" /></p>
        <p class="activity_icon2"><a href="#"><img src="/assets/web/activity_icon.gif" /></a></p>
        <p class="activity_itext">格力高巧系列欧风茶点，巧心柔，巧酥酥的官方微博。<br />
        </p>
      <iframe width="280" height="330" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=280&height=330&fansRow=2&ptype=1&speed=100&skin=4&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=2826468812&verifier=ef068a9f&dpc=1"></iframe>
      </div>
      <p><img src="/assets/web/activity_botimg2.gif" /></p>
      <p class="tmall_img"><a href="http://zwxsp.tmall.com/view_page-246120895.htm?spm=a1z10.1.w832965368.4.in1aNc" target="_blank"><img src="/assets/web/activity_rimg3.jpg" /></a></p>

    </div>

  </div>
</div>

<script type="text/html" id="activity_tp">
  <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="350" height="254">
    <param name="movie" value="/flv/video.swf" />
    <param name="flashvars" value="width=350&amp;height=254&amp;play=&amp;stop=&amp;bg=&amp;flv={{url}}">
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <object type="application/x-shockwave-flash" data="/flv/video.swf" width="350" height="254" id="swfContain" style="visibility: inherit;">
      <param name="menu" value="false">
      <param name="wmode" value="transparent">
      <param name="scale" value="noScale">
      <param name="allowFullscreen" value="true">
      <param name="allowScriptAccess" value="always">
      <param name="bgcolor" value="#FFFFFF">
      <param name="flashvars" value="width=350&amp;height=254&amp;play=&amp;stop=&amp;bg=&amp;flv={{url}}">
    </object>
  </object>
</script>

<script type="text/html" id="activity_tp_except">
  <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="720" height="405">
    <param name="movie" value="/flv/video.swf" />
    <param name="flashvars" value="width=720&amp;height=405&amp;play=&amp;stop=&amp;bg=&amp;flv={{url}}">
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <object type="application/x-shockwave-flash" data="/flv/video.swf" width="720" height="405" id="swfContain" style="visibility: inherit;">
      <param name="menu" value="false">
      <param name="wmode" value="transparent">
      <param name="scale" value="noScale">
      <param name="allowFullscreen" value="true">
      <param name="allowScriptAccess" value="always">
      <param name="bgcolor" value="#FFFFFF">
      <param name="flashvars" value="width=720&amp;height=405&amp;play=&amp;stop=&amp;bg=&amp;flv={{url}}">
    </object>
  </object>
</script>
